@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.header{
    text-align: center !important;
    color: white !important;
    font-size: x-large !important;
}

.header-heading{
    color: white !important;
    font-family: 'Russo One', sans-serif;
    font-size: xx-large !important;
}

.header-links{
    color: white !important;
    right: 0;
}

